@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-button {
    @apply transition-colors delay-100 ease-in hover:bg-pink hover:text-white;
  }
  .solid-button {
    @apply transition-colors delay-100 ease-in bg-pink text-white hover:bg-black;
  }
  .homecard-div{
    @apply mt-6 w-24 h-24 flex items-center justify-center rounded-2xl shadow-md;
  }
  .floating-home-icon{
    @apply absolute w-16 h-16 sm:w-24 sm:h-24 flex items-center justify-center rounded-2xl shadow-md
  }
}
